*.exe filter=lfs diff=lfs merge=lfs -text
*main.exe filter=lfs diff=lfs merge=lfs -text
Vídeo[[:space:]]do[[:space:]]Funcionamento[[:space:]]do[[:space:]]Programa.mp4 filter=lfs diff=lfs merge=lfs -text
